{% extends "partials/_base.html" %}

{% load static %}

{% block titulo %}Esqueci minha senha{% endblock %}

{% block conteudo %}
    <main>
        {% include "partials/_container-titulo-pagina.html" with titulo="Nova Senha" %}

        <form method="POST" class="surface">
            {% csrf_token %}

            <div class="formulario-grupo">
                <label for="campo-nova-senha">Nova senha</label>
                <input type="password" name="new_password1" id="campo-nova-senha" minlength="7" maxlength="15" required>
            </div>

            <div class="formulario-grupo">
                <label for="campo-confirmar-nova-senha">Confirmar nova senha</label>
                <input type="password" name="new_password2" id="campo-confirmar-nova-senha" minlength="7" maxlength="15" required>
            </div>

            <div class="container-botoes">
                <button class="botao botao--azul" type="submit">Resetar Senha</button>
            </div>
        </form>
    </main>
{% endblock conteudo %}