{% extends "partials/_base.html" %}

{% load static %}

{% block titulo %}Recuperação de senha{% endblock %}

{% block conteudo %}
    <div class="container my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="texto-medio texto-branco">
                        Your password has been set. You may go ahead and <a href="{% url 'usuario:login' %}">Login Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock conteudo %}