{% extends "partials/_base.html" %}

{% load static %}

{% block titulo %}Esqueci minha senha{% endblock %}

{% block conteudo %}
    <main>
        {% include "partials/_container-titulo-pagina.html" with titulo="Esqueci minha senha" %}

        <form method="POST" class="surface">
            {% csrf_token %}
            
            <div class="formulario-grupo">
                <label for="campo-email">E-mail</label>
                <input type="email" name="email" id="campo-email" maxlength="254">
            </div>

            <div class="container-botoes">
                <button type="submit" class="botao botao--azul">Recuperar acesso</button>
            </div>
        </form>
    </main>
{% endblock conteudo %}