{% extends "partials/_base.html" %}

{% load static %}

{% block titulo %}Meu Perfil{% endblock %}

{% block conteudo %}
    <main>
        {% include "partials/_container-titulo-pagina.html" with titulo="Finalizar agendamento" %}

        <br><br>
        <h1 class="texto-branco">Serviço: {{ servico.nome }} - Duração: {{ servico.duracao }}m</h1>
        <br>
        <h1 class="texto-branco">Data: {{ data }} - Horário: {{ hora }}</h1>

        <br><hr><br>
        <form method="POST">
            {% csrf_token %}
            <select name="colaborador" id="">
                {% for colaborador in colaboradores %}
                    <option value="{{ colaborador.id }}">{{ colaborador }}</option>
                {% endfor %}
            </select>

            <div class="container-botoes">
                <button class="botao botao--azul" type="submit">Agendar</button>
            </div>
            
        </form>
    </main>
{% endblock %}
