{% extends "partials/_base.html" %}

{% load static %}

{% block titulo %}Meu Perfil{% endblock %}

{% block conteudo %}
    <main>
        {% include "partials/_container-titulo-pagina.html" with titulo="Lista de serviços" %}

        <div class="container-botoes">
            <a href="{% url 'agendamento:cadastrar-servico' %}"><button class="botao botao--azul">Cadastrar servico</button></a>
        </div>
        
        <div class="container-botoes">
            <a href="{% url 'agendamento:servico-colaborador' usuario.id %}"><button class="botao botao--azul">Associar serviço/colaborador</button></a>
        </div>
        
        <br><br>
        {% for servico in servicos %}
            <p><a href="{% url 'agendamento:perfil-servico' servico.id %}" class="texto-branco">{{ servico }}</a></p>
            <br>
        {% endfor %}

    </main>
{% endblock %}
