{% extends "partials/_base.html" %}

{% load static %}

{% block titulo %}Cadastro{% endblock %}

{% block conteudo %}
  <main>
    {% include "partials/_container-titulo-pagina.html" with titulo="Cadastro" %}
    
    <form id="formulario-login" class="surface" method="POST">
      {% csrf_token %}

      <div class="formulario-grupo">
        <label for="campo-nome">Nome</label>
        <input id="campo-nome" type="text" name="nome" required>
      </div>

      <div class="formulario-grupo">
        <label for="campo-email">E-mail</label>
        <input id="campo-email" type="email" name="user" required>
      </div>

      <div class="formulario-grupo">
        <label for="campo-email">Senha</label>
        <input id="campo-email" type="password" name="password" required>
      </div>
      
      <div class="container-botoes">
        <button class="botao botao--azul" type="submit">Cadastrar</button>
      </div>
    </form>

  </main>
{% endblock %}
