{% extends "partials/_base.html" %}

{% load static %}

{% block titulo %}Login{% endblock %}

{% block conteudo %}
  <main>
    {% include "partials/_container-titulo-pagina.html" with titulo="Login" %}
    
    <form id="formulario-login" class="surface" method="POST">
      {% csrf_token %}

      <div class="formulario-grupo">
        <label for="campo-email">E-mail</label>
        <input id="campo-email" type="email" name="user" required>
      </div>

      <div class="formulario-grupo">
        <label for="campo-email">Senha</label>
        <input id="campo-email" type="password" name="password" required>
      </div>
      
      <div class="container-botoes">
        <button class="botao botao--azul" type="submit">Entrar</button>
      </div>
    </form>

    <p class="texto-medio texto-branco">Não possui uma conta? <b class="texto-verde"><a href="{% url 'usuario:cadastro' %}">Cadastre-se</a></b></p>
  </main>
{% endblock %}
