{% extends "partials/_base.html" %}

{% load static %}

{% load socialaccount %}

{% block titulo %}Login{% endblock %}

{% block conteudo %}
  <main>
    {% include "partials/_container-titulo-pagina.html" with titulo="Login" %}
    
    <form id="formulario-login" class="surface" method="POST">
      {% csrf_token %}

      <div class="formulario-grupo">
        <label for="campo-email">E-mail</label>
        <input id="campo-email" type="email" name="email" maxlength="50" minlength="10" required>
      </div>

      <div class="formulario-grupo">
        <label for="campo-senha">Senha</label>
        <input id="campo-senha" type="password" name="password" maxlength="15" minlength="8" required>
      </div>
      
      <div class="container-botoes">
        <button class="botao botao--azul" type="submit">Entrar</button>

        <a href="{% url 'usuario:password_reset' %}" >
          <button class="botao botao--secundario" type="button">Esqueci minha senha</button>
        </a>
      </div>

      <div class="container-texto-linha">
        <div></div>
        <span>Você também pode</span>
        <div></div>
      </div>
      
      <div class="container-botoes">
        <a href="{% provider_login_url 'google' %}">
          <button class="botao botao--google" type="button"><i></i>Entrar com Google</button>
        </a>
      </div>
    </form>

    <p class="texto-medio texto-branco">Não possui uma conta? <b class="texto-verde"><a href="{% url 'usuario:cadastro' %}">Cadastre-se</a></b></p>
  </main>
{% endblock %}
