{% extends "partials/_base.html" %}

{% load static %}

{% block titulo %}Meu Perfil{% endblock %}

{% block conteudo %}
  <main>
    {% include "partials/_container-titulo-pagina.html" with titulo="Meu Perfil" %}
    
    <h2 class="texto-branco">{{ usuario.nome }}</h2>
    <br>
    <br>
    <p><a href="{% url 'usuario:usuarios' %}" class="texto-branco">Lista usuarios</a></p>
    <br>
    <p><a href="{% url 'agendamento:listar-servicos' %}" class="texto-branco">Listar servicos</a></p>
    <br>
    <p><a href="{% url 'usuario:logout' %}" class="texto-branco">Sair</a></p>
  </main>
{% endblock %}
