{% extends "partials/_base.html" %}

{% load static %}

{% block titulo %}Meu Perfil{% endblock %}

{% block conteudo %}
  <main>
    {% include "partials/_container-titulo-pagina.html" with titulo="Meu Perfil" %}
    
    <h2 class="texto-branco">{{ usuario.nome }}</h2>
    <br>
    <br>
    <a href="{% url 'usuario:associar-colaborador' %}" class="texto-branco">Associar colaborador</a>
    <br>
    <a href="{% url 'usuario:servico-colaborador' %}" class="texto-branco">Associar serviço/colaborador</a>
    <br>
    <a href="{% url 'usuario:associar-adm' %}" class="texto-branco">Associar adm</a>
    <br>
    <a href="{% url 'usuario:usuarios' %}" class="texto-branco">Lista usuarios</a>
    <br>
    <a href="{% url 'usuario:logout' %}" class="texto-branco">Sair</a>
  </main>
{% endblock %}
