{% extends "partials/_base.html" %}

{% load static %}

{% block titulo %}Meu Perfil{% endblock %}

{% block conteudo %}
    <main>
        {% include "partials/_container-titulo-pagina.html" with titulo="Meu Perfil" %}

        <h2 class="texto-branco">Perfil de {{ perfil.first_name }}</h2>
        <br>

        <div class="container-botoes">
            <a href="{% url 'usuario:editar-dados' %}"><button class="botao botao--azul">Editar Dados</button></a>
        </div>

        {% if usuario_adm %}
            {% if not colaborador %}
                <div class="container-botoes">
                    <button class="botao botao--azul" type="submit" name="associar_colaborador" value="associar_colaborador">Associar colaborador</button>
                </div>
            {% endif %}
            
            {% if not adm %}
                <div class="container-botoes">
                    <button class="botao botao--azul" type="submit" name="associar_adm" value="associar_adm">Associar adm</button>
                </div>
            {% endif %}
        {% endif %}

    </main>
{% endblock %}
