/* Estilizações gerais */

body{
    background-color: var(--cor-background);
    box-sizing: border-box;
    padding-bottom: 4rem;
}

main{
    box-sizing: border-box;
    padding-block: 2rem;
    padding-inline: 1rem;
    text-align: center;
}