/* Estilização das surfaces */

.surface{
    background-color: var(--cor-surface);
    border-radius: 1rem;
    box-sizing: border-box;
    margin-top: 1rem;
    padding: 1rem;
    text-align: left;
}

.surface + *{
    margin-top: 1rem;
}