/* Estilização da página de perfil de usuário */

.container-perfil{
    align-items: center;
    flex-direction: row;
}

    .perfil-imagem{
        aspect-ratio: 1;
        border-radius: 100%;
        object-fit: cover;
        height: 3.5rem;
    }

    .perfil-usuario{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

.container-cards-usuario{
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

    .card-usuario{
        --largura: calc(50% - .5rem);

        align-items: center;
        flex-basis: var(--largura);
    }

    .card-icone{
        aspect-ratio: 1;
        width: 2rem;
    }

    .card-icone path{
        color: var(--cor-icone-branco);
    }

    .card-titulo{
        color: var(--cor-texto-branco);
        font-size: .75rem;
        font-weight: 500;
        line-height: 18px;
    }