{% load static %}

<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="icon" conten>

        <title>{% block titulo %}{% endblock %} | La Republica</title>

        <link rel="icon" href="{% static 'assets/img/icone-aba.png' %}">

        <!-- Estilizações gerais -->
        <link rel="stylesheet" href="{% static 'assets/css/base/reset.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/base/cores.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/base/base.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/base/tipografia.css' %}">
        
        <!-- Estilização de componentes -->
        <link rel="stylesheet" href="{% static 'assets/css/componentes/surface.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/componentes/formulario.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/componentes/container-titulo-pagina.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/componentes/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/componentes/botao.css' %}">
    </head>

    <body>
        {% block conteudo %}
        {% endblock %}

        {% include "partials/_navbar.html" %}
    </body>
</html>